*{
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  background-color: #2f2f2f;
  color: white;
}

<<<<<<< HEAD
#__next-route-announcer__ {
  display: none ;
}

next-route-announcer {
  display: none ;
}

/* video {
  transform: scaleX(-1);
} */
=======
next-route-announcer{
  display:none;
  }
>>>>>>> df82535fc80c205ced79a7c91c4b6c43fef924ca
